@import '../main/defaults';

.add-group-pop-up-view .x-window-body{
  background-color: $whitetextcolor;
  border-radius: 15px;
  padding: 10px;
}

.add-group-pop-up-view-container{
  margin-bottom: 10px;
}

.add-group-pop-up-close{
  float: right;
}

.add-group-pop-up-view-txt {
  color: #515153;
  font-size: 16px;
}

.add-group-pop-up-view-forms{
  background-color: $backgroundforms;
  background-image: none;
  border-radius: 4px;
  border-style: none;
  border-top-color: $bordertopcolor;
  border-top-style: solid;
  border-top-width: 1px;
  color: $formsfontcolor;
}

.add-group-pop-up-view-forms-align{
  margin-bottom: 10px;
}

.add-group-pop-up-view-forms-align .x-field-label-cell{
  width: 200px;
}

.add-group-pop-up-button-align{
  margin-left: 120px;
}

.add-group-pop-up-view-label{
   display: block;
   font-size: 14px;
   padding: 3px 0 0;
}

