@import '../main/defaults.scss';

.groupDetail{
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.groupDetail .x-column-inner {
  height: 100%;
}

.groups-main-container{
  width: 260px;
  position: absolute;
  height: auto;
  top: 45px;
  bottom: 10px;
  left: 10px;
  right: 10px;

  margin-right: 10px;
  background-color: $defaultbackgroundcolor;
  border-color: $panelbordercolor;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  border-width: 1px;
  padding: 10px;
}

.groups-container{
  min-height: 405px;
  width:100%;
}

.groupTab{
  position: absolute;
  width: auto;
  height: auto;
  top: 45px;
  bottom: 10px;
  left: 280px;
  right: 10px;
  border: none;
  background-color: $defaultbackgroundcolor;
}

.groupTab .x-container.x-container-default.x-layout-fit{
  border-color: $panelbordercolor;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

.groupTab .x-toolbar{
  padding: 0px;
  border: none;
}

.groupTab .x-toolbar-default{
  background-color: $background-main-container;
  background-image: none;
}

.groupTab .x-toolbar .x-btn{
  border-color: $buttonbordercolor;
  height: 25px;
  background: #a5be4e; /* Old browsers */
  background: -moz-linear-gradient(top,  #a5be4e 32%, #8ca33a 57%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,#a5be4e), color-stop(57%,#8ca33a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a5be4e 32%,#8ca33a 57%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a5be4e 32%,#8ca33a 57%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a5be4e 32%,#8ca33a 57%); /* IE10+ */
  background: linear-gradient(to bottom,  #a5be4e 32%,#8ca33a 57%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5be4e', endColorstr='#8ca33a',GradientType=0 ); /* IE6-9 */
  border-radius:4px 4px 0px 0px;
  border-color: $buttonbordercolor;
}

.groupTab .x-toolbar .x-btn .x-btn-inner{
  color: $defaultbackgroundcolor;
  font-size: 12px;
  font-weight: bold;
}

.groupTab .x-toolbar .x-pressed .x-btn-inner{
  color: $formsfontcolor;
  font-size: 12px;
  font-weight: bold;
}

.groupTab .x-toolbar .x-pressed{
  background: $defaultbackgroundcolor;
  border-color: $panelbordercolor;
  border-bottom: none;
}
