@import '../main/defaults.scss';

.groupDetail{
  margin: 10px;
}

.btn-add-project{

}

.groupTab{
  border: none;
  background-color: $defaultbackgroundcolor;
}

.groupTab .x-column-inner{
  border-color: $panelbordercolor;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.groupTab .x-toolbar{
  padding: 0px;
  border: none;
}

.groupTab .x-toolbar-default{
  background-color: $background-main-container;
  background-image: none;
}

.groupTab .x-toolbar .x-btn{
  border-color: $buttonbordercolor;
  height: 25px;
  background: -moz-linear-gradient(top, #a5be4e 32%, #8ca33a 57%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,#a5be4e), color-stop(57%,#8ca33a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a5be4e 32%,#8ca33a 57%); /* Chrome10+,Safari5.1+ */
  border-radius:4px 4px 0px 0px;
  border-color: $buttonbordercolor;
}

.groupTab .x-toolbar .x-over{
  background: -moz-linear-gradient(top, #a4be07 32%, #7aa10c 57%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #a4be07), color-stop(57%, #7aa10c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a4be07 32%, #7aa10c 57%); /* Chrome10+,Safari5.1+ */
}

.groupTab .x-toolbar .x-btn .x-btn-inner{
  color: $defaultbackgroundcolor;
  font-size: 12px;
  font-weight: bold;
}

.groupTab .x-toolbar .x-pressed .x-btn-inner{
  color: $formsfontcolor;
  font-size: 12px;
  font-weight: bold;
}

.groupTab .x-toolbar .x-pressed{
  background: $defaultbackgroundcolor;
  border-color: $panelbordercolor;
  border-bottom: none;
}
