$loginbackgroundcolor: #222222;
$buttonbackgroundcolor: #8CA33A;
$buttonheaderbackgroundcolor: #4A4A4A;
$buttonbordercolor: #728336;
$whitetextcolor: #FFFFFF;
$formsbackgroundcolor: #DDDCD6;
$formsfontcolor: #666666;
$txtfontcolor: #989899;
$buttonbordercolor: #728336;
$panelbordercolor: #BBBBBB;
$grid-header-background-color: #BBBBBB;
$panel-body-border-color: #BBBBBB;
$grid-font-color: #BBBBBB;
$panel-body-background-color: #232d38;
$labelfontcolor: #A8A8A8;
$linkfontcolor: #8F8F8F;
$grid-header-background-color: #373c4b;
$grid-header-color: #fff;
$font-family: "Helvetica Neue", Arial, Verdana, sans-serif !default;
$supports-gradients: true !default;
$grid-header-background-gradient: 'glossy';

.all-views-button{
  border-radius: 4px;
  border-color: $buttonbordercolor;
  height: 30px;
  background: -moz-linear-gradient(top,  #a5be4e 1%, #8ca33a 50%, #8ca33a 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #a5be4e 1%,#8ca33a 50%,#8ca33a 100%); /* Chrome10+,Safari5.1+ */
}

.all-views-button .x-btn-center span {
  color: $whitetextcolor;
  font-weight:900;
  font-size: 12px;
}
