$loginbackgroundcolor: #222222;
$buttonbackgroundcolor: #8CA33A;
$buttonheaderbackgroundcolor: #4A4A4A;
$whitetextcolor: #FFFFFF;
$formsfontcolor: #666666;
$txtfontcolor: #989899;
$buttonbordercolor: #728336;
$panelbordercolor: #BBBBBB
