@import '../main/defaults.scss';

.report-form{
  background-color: $backgroundforms;
  background-image: none;
  border-radius: 4px 0px 0px 4px;
  border-style: none;
  border-top-color: $bordertopcolor;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: $bordertopcolor;
  border-right-style: solid;
  border-right-width: 1px;
  color: $formsfontcolor;
}

.report-form-align{
  margin-right: 20px;
}

.report-label{
  color: $blackcolor;
  font-size: 16px;
}