@import '../main/defaults.scss';

.forgot-password-view .x-window-body{
  background-color: $whitetextcolor;
  border-radius: 15px;
}

.forgot-password-view-button {
  border-radius: 4px;
  margin-left: 100px;
  margin-top: 5px;
  height: 30px;
  width: 100px;
  background: -moz-linear-gradient(top,  #a5be4e 1%, #8ca33a 50%, #8ca33a 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #a5be4e 1%,#8ca33a 50%,#8ca33a 100%); /* Chrome10+,Safari5.1+ */
}

.forgot-password-view-container{
  margin-top: 15px;
}

.forgot-password-view-button .x-btn-center span {
  color: $whitetextcolor;
  font-weight:900;
  font-size: 12px;
}

.forgot-password-view-forms{
  color: $formsfontcolor;
  background-image: none;
  background-color: $formsbackgroundcolor;
  border-radius: 4px;
}

.forgot-password-view-forms-align{
  margin-left: 25px;
  width: 80%;
}

.forgot-password-view-txt {
  color: #515153;
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: 15px;
  width: 230px;
}

