@import '../main/defaults.scss';

.loginregister-view-main-container {
  background-color: $loginbackgroundcolor;
  width: 100%;
  height: 1200px;
}

.loginregister-view {
  background-image: url(../images/SignIn-bgr.png);
  background-repeat: no-repeat;
  width: 1200px;
  align: 'center';
  height: 514px;
  margin-left: 18%;
}

.loginregister-forms {
  color: $panelbordercolor;
  background-image: none;
  background-color: $loginformbackgroundcolor;
  border-radius: 4px;
  border-color: $loginformbackgroundcolor;
  font-size: 11px;
}

.login-view-container{
  margin-left: 39.2%;
  margin-top: 49px;
}

.loginregister-field{
  width: 35%;
}

.loginregister-short-field{
  width: 187px;
}

.loginregister-elements{
  margin-top: 8px;
}

.loginregister-button{
  border-radius: 4px;
  border-color: $buttonbordercolor;
  margin-left: 5px;
  height: 30px;
  background: -moz-linear-gradient(top,  #a5be4e 1%, #8ca33a 50%, #8ca33a 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #a5be4e 1%,#8ca33a 50%,#8ca33a 100%); /* Chrome10+,Safari5.1+ */

}

.loginregister-button .x-btn-center span {
  color: $whitetextcolor;
  font-weight:900;
  font-size: 12px;
}

.loginregister-label {
  color: $labelfontcolor;
  text-decoration: none;
  font-size: 11px;
}

.loginregister-checkbox{
  -moz-border-radius: 10px;
  border-radius: 5px;
  margin-top: -3px;
  margin-right: 5px;
}

.loginregister-titles {
  color: $whitetextcolor;
  font-size: 14px;
}

.register-elements{
  margin-top: 8px;
  margin-bottom: 15px;
}

.register-link {
  color: $linkfontcolor;
  text-decoration: none;
  font-size: 14px;
}

.register-view-container{
  margin-left: 39.2%;
  margin-top: 53px;
}

