@import '../main/defaults.scss';

.reset-password{
  float: left;
  right: -40%;
  top: 20%;
  width: 295px;
}

.align-button{
  left: 45%;
}

.reset-password .x-panel-body-default{
  border-color: $panelbordercolor;
  padding: 15px;
}